block config

doctype html
html(lang="ru")
    head
        block head
            include head
    body.body(class=bodyClass)
        include mixins/svgsprite
        include mixins/pngsprite

        block header
            include blocks/header

        block about-us
            include blocks/about-us

        block our-offices
            include blocks/our-offices

        block our-clients
            include blocks/our-clients

        block discuss
            include blocks/discuss
       

        //- .content
        //-     block content

        block footer
            include blocks/footer

        .hidden
            // include popups here

        block styles
            link(rel="stylesheet" href="assets/css/common.css?v=" + PACKAGE.version)
            link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css")
        block scripts-config
            script.
                /* изменяемые настройки скриптов, указаны значения по умолчанию */
                var appConfig = {
                    /*
                    scrollToOffset: 100, // оффсет при скролле до элемента
                    popupLoadedEvent: 'app.popup_loaded' // событие загрузки модалки
                    */
                }
        block scripts
            script(src="assets/js/vendors.bundle.js")
            script(src="assets/js/main.bundle.js?v=" + PACKAGE.version)
            script(src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js")
            script.
                var swiper = new Swiper("#our-clients", {
                    slidesPerView: 4,
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                    autoplay: {
                        delay: 3500,
                        disableOnInteraction: false,
                    },      
                    breakpoints: {
                        770: {
                            slidesPerView: 4,
                        },
                        370: {
                            slidesPerView: 2.2,
                        },
                        0: {
                            slidesPerView: 1.5,
                        }
                    }
                });
            
            

      
