.about-us   
    .about-us__wrapper
        .about-us__title Приходите в гости, пишите, звоните
        div 
            .about-us__flex--container
                .about-us__container
                    .about-us__text Поговорить с нами по телефону
                    a(href="tel:8 (831) 2-889-354").about-us__link 8 (831) 2-889-354
                .about-us__message 
                    img.lazyload(data-src="assets/img/avatar-3.png" src="assets/img/avatar-3.png" alt="").about-us__message_avatar
                    .about-us__message_wrapper
                        +svgsprite("triangle").about-us__message_triangle
                        .about-us__message_text Меня зовут Ира, скорее всего вам отвечу именно я 👋
                        .about-us__message_text--sm Ирина Пшеницина, аккаунт-менеджер
            .about-us__container
                .about-us__text Написать нам на почту
                a(href="mailto:hello@riverstart.ru").about-us__link hello@riverstart.ru
            .about-us__flex--container
                .about-us__container
                    .about-us__text Поговорить с нашим аккаунт-менеджером в Telegram
                    a(href="tg://resolve?domain=ekhohrin").about-us__link @ekhohrin
                img.lazyload(data-src="assets/img/avatar-2.png" src="assets/img/avatar-2.png" alt="").about-us__avatar