block discuss
    section.discuss
        .discuss__wrapper 
            .discuss__container 
                p.discuss__title Обсудить проект
                p.discuss__subtitle Расскажите о проекте в форме справа 
                    br
                    | или свяжитесь с нами напрямую 
                .discuss__links
                    div
                        a(href="mailto:hello@riverstart.ru").discuss__link hello@riverstart.ru
                        p.discuss__text.secondary Написать нам на почту
                    div 
                        .discuss__flex-container
                            img.lazyload(data-src="assets/img/avatar.png" src="assets/img/avatar.png" alt="").discuss__avatar
                            a(href="tg://resolve?domain=ekhohrin").discuss__link @ekhohrin
                        p.discuss__text.secondary Написать нашему аккаунт- директору в Telegram
            form.discuss__form
                .discuss__form_wrapper 
                    p.discuss__form_title.discuss__text.grey.md Что вас интересует?
                    .discuss__multi--select                         
                        label.checkbox
                            input(type="radio" name="interesting") 
                            span.content Сайт
                            .checkmark                         
                        label.checkbox
                            input(type="radio" name="interesting") 
                            span.content Веб-сервис
                            .checkmark                         
                        label.checkbox
                            input(type="radio" name="interesting") 
                            span.content Маркетинг
                            .checkmark                         
                        label.checkbox
                            input(type="radio" name="interesting") 
                            span.content Приложение
                            .checkmark                         
                        label.checkbox
                            input(type="radio" name="interesting") 
                            span.content Брендинг
                            .checkmark                         
                        label.checkbox
                            input(type="radio" name="interesting") 
                            span.content Что-то ещё
                            .checkmark 
                    .discuss__form_inputs
                        input(type="text" placeholder="Имя").discuss__form_input.discuss__text.grey.md
                        .discuss__flex-container
                            input(type="text" placeholder="Телефон").discuss__form_input.discuss__text.grey.md
                            input(type="email" placeholder="Почта").discuss__form_input.discuss__text.grey.md
                        textarea(name="" rows="1" placeholder="Опишите задачу своими словами").discuss__form_input.discuss__form_textarea.discuss__text.grey.md
                    .discuss__form_price
                        p.discuss__text.grey.md Бюджет (₽):
                        .discuss__multi--select.combined                       
                            label.checkbox
                                input(type="radio" name="price") 
                                span.content до 500к
                                .checkmark                         
                            label.checkbox
                                input(type="radio" name="price") 
                                span.content до 1 млн
                                .checkmark                         
                            label.checkbox
                                input(type="radio" name="price") 
                                span.content >1 млн
                                .checkmark    
                    .discuss__flex-container                    
                        label.discuss__form_file
                            input(type="file").discuss__form_file--input
                            +svgsprite("attach").discuss__form_file--attach
                            .content Прикрепить бриф
                        a(href="#").discuss__form_link
                            img.lazyload(data-src="assets/img/dockIcon.png" src="assets/img/dockIcon.png" alt="").discuss__form_file--dock
                            .content Наш бриф в Google Docs
                            +svgsprite("arrowTop").discuss__form_file--arrowTop
                    button(type="submit").discuss__form_submit Оставить заявку
                    .discuss__form_privacy--policy
                        .discuss__text.grey Нажав на кнопку, вы соглашаетесь с политикой 
                        a(href="#").discuss__text.primary обработки персональных данных 
            .discuss__addresses
                .discuss__flex-container.discuss__addresses_container
                    .discuss__address
                        p.discuss__text Московский офис
                        p.discuss__text.secondary Новая пл., 6
                        a(href="tel:8 (499) 112-46-21").discuss__text.secondary 8 (499) 112-46-21
                    .discuss__address
                        p.discuss__text Нижегородский офис
                        p.discuss__text.secondary ул. Рождественская, 26
                        a(href="tel:8 (831) 2-889-354").discuss__text.secondary 8 (831) 2-889-354
                .discuss__address.card 
                    p.discuss__text Таллинский офис
                    p.discuss__text.secondary 3 korrus, Metro Plaza, Viru väljak 2
                    a(href="tel:+372 610-42-53").discuss__text.secondary +372 610-42-53
                    .discuss__address--company
                        div
                            p.discuss__text.secondary Oceanstart LLC <br> Worldwide outsourcing and outstaffing
                            a(href="https://oceanstart.dev/").discuss__link.md oceanstart.dev 
                                +svgsprite("openLink").discuss__address--image.sm
                        +svgsprite("companyLogo").discuss__address--image

                                
                                
