footer.footer
    .footer__wrapper 
        .footer__flex--container
            .footer__copyright
                +svgsprite("logoSmall").footer__copyright_icon
                span.footer__copyright_text 2021 © Riverstart Digital. Все права защищены
            a(href="#").footer__copyright_link Политика конфиденциальности 
        .footer__socials
            a(href="#")
                +svgsprite("fb").footer__social.fb
            a(href="#")
                +svgsprite("vk").footer__social.vk
            a(href="#")
                +svgsprite("ig").footer__social.ig
            a(href="#")
                +svgsprite("tw").footer__social.tw
            a(href="#") 
                +svgsprite("be").footer__social.be
