header.header
    .header__inner
        a(href="/").header__logo
            +svgsprite("logo")
        
        .header__actions
            ul.header__tags 
                li.header__tags_item
                    a(href="#").header__tags_link Сайты
                li.header__tags_item
                    a(href="#").header__tags_link Сервисы
                li.header__tags_item
                    a(href="#").header__tags_link Маркетинг
                li.header__tags_item
                    a(href="#").header__tags_link SEO
                li.header__tags_item
                    a(href="#").header__tags_link Приложения
                li.header__tags_item
                    a(href="#").header__tags_link Брендинг
            ul.header__menu 
                li.header__menu_item
                    a(href="#").header__menu_link Кейсы
                li.header__menu_item
                    a(href="#").header__menu_link Студия
                li.header__menu_item
                    a(href="#").header__menu_link Блог
                li.header__menu_item
                    a(href="#").header__menu_link Контакты
        button.header__btn Обсудить проект
        button(type="button" class='header__btn--menu' onclick="toggleBurgerMenu()")
    .header__burger--menu#header-burger-menu
        .burger--menu__wrapper
            .burger--menu__header
                a(href="/").burger--menu__logo
                    +svgsprite("logo")
                button(type="button" class='burger--menu__close' onclick="toggleBurgerMenu()")
            button.burger--menu__btn Услуги
            ul.burger--menu__menu 
                li.burger--menu__menu_item
                    a(href="#").burger--menu__menu_link Кейсы
                li.burger--menu__menu_item
                    a(href="#").burger--menu__menu_link Студия
                li.burger--menu__menu_item
                    a(href="#").burger--menu__menu_link Блог
                li.burger--menu__menu_item
                    a(href="#").burger--menu__menu_link Контакты
        .burger--menu__footer   
            .burger--menu__footer_wrapper
                ul.burger--menu__footer_contacts
                    li.burger--menu__footer_item Связаться с нами:
                    li.burger--menu__footer_item
                        a(href="mailto:hello@riverstart.ru").burger--menu__footer_link hello@riverstart.ru
                    li.burger--menu__footer_item
                        a(href="tel:8 (499) 112-46-21").burger--menu__footer_link 8 (499) 112-46-21
                ul.burger--menu__footer_contacts
                    li.burger--menu__footer_item
                        a(href="#").burger--menu__footer_link Facebook
                    li.burger--menu__footer_item
                        a(href="#").burger--menu__footer_link Instagram
                    li.burger--menu__footer_item
                        a(href="#").burger--menu__footer_link Behance
        