.our-office 
    .our-office__grid
        .our-office__grid_card
            img.lazyload(data-src="assets/img/offices/1.png" src="assets/img/offices/1.png" alt="")
            .our-office__grid_card--content
                .our-office__grid_card--title Нижегородский офис
                .our-office__grid_card--text ул. Рождественская, 26
                a(href="tel:8 (831) 2-889-354").our-office__grid_card--link 8 (831) 2-889-354
                a(href="#").our-office__grid_card--link.sm Как добраться
                    +svgsprite("arrowTop-2")
        .our-office__grid_card
            img.lazyload(data-src="assets/img/offices/2.png" src="assets/img/offices/2.png" alt="")
            .our-office__grid_card--content
                .our-office__grid_card--title Московский офис
                .our-office__grid_card--text Новая площадь, 6
                a(href="tel:8 (499) 112-46-21").our-office__grid_card--link 8 (499) 112-46-21
                a(href="#").our-office__grid_card--link.sm Как добраться
                    +svgsprite("arrowTop-2")
        .our-office__grid_card
            img.lazyload(data-src="assets/img/offices/3.png" src="assets/img/offices/3.png" alt="")
            .our-office__grid_card--content
                .our-office__grid_card--title Таллинский офис
                .our-office__grid_card--text 3 korrus, Metro Plaza, Viru väljak 2
                a(href="tel:+372 610-42-53").our-office__grid_card--link +372 610-42-53
    .our-office__background
    .our-office__background--bottom
    