.our-clients
    .our-clients__title Наши клиенты
    .swiper#our-clients
        .swiper-wrapper
            .swiper-slide 
                div.swiper-slide__company
                    +svgsprite('company-1')
                    .swiper-slide__company--text 5 лет вместе
                div.swiper-slide__company
                    +svgsprite('company-2')
                    .swiper-slide__company--text 1 год вместе
            .swiper-slide 
                div.swiper-slide__company
                    +svgsprite('company-3')
                    .swiper-slide__company--text 1 год вместе
                div.swiper-slide__company
                    +svgsprite('company-4')
                    .swiper-slide__company--text 2 года вместе
            .swiper-slide 
                div.swiper-slide__company
                    +svgsprite('company-5')
                    .swiper-slide__company--text 1 год вместе
                div.swiper-slide__company
                    +svgsprite('company-6')
                    .swiper-slide__company--text 1 год вместе
            .swiper-slide 
                div.swiper-slide__company
                    +svgsprite('company-7')
                    .swiper-slide__company--text 1 год вместе
                div.swiper-slide__company
                    +svgsprite('company-8')
                    .swiper-slide__company--text 1 год вместе
            .swiper-slide 
                div.swiper-slide__company
                    +svgsprite('company-1')
                    .swiper-slide__company--text 1 год вместе
                div.swiper-slide__company
                    +svgsprite('company-4')
                    .swiper-slide__company--text 1 год вместе
            .swiper-slide 
                div.swiper-slide__company
                    +svgsprite('company-3')
                    .swiper-slide__company--text 1 год вместе
                div.swiper-slide__company
                    +svgsprite('company-6')
                    .swiper-slide__company--text 1 год вместе
        .swiper-button-next
            +svgsprite('arrow-right')
        .swiper-button-prev
            +svgsprite('arrow-left')
    .our-clients__message 
        img.lazyload(data-src="assets/img/avatar-4.png" src="assets/img/avatar-4.png" alt="").our-clients__message_avatar
        .our-clients__message_wrapper
            +svgsprite("triangle").our-clients__message_triangle
            .our-clients__message_text Среднее время работы с клиентом — 5 лет 💙
    