.about-us {
    &__wrapper {        
        margin: calculateVwDesktop(calc(114 + 117)) calculateVwDesktop(120) calculateVwDesktop(114);
    }
    &__title {
        font-family: 'Mabry Pro';
        font-style: normal;
        font-weight: 400;
        font-size: calculateVwDesktop(85);
        color: #F7F7FA;
        max-width: calculateVwDesktop(740);
        margin-bottom: calculateVwDesktop(143);
    }
    &__container {
        max-width: calculateVwDesktop(990);
        margin: 0;
        &:nth-child(2n) {
            margin: 0 0 0 auto;
        }
    }
    &__text {
        font-family: 'Mabry Pro';
        font-style: normal;
        font-weight: 400;
        font-size: calculateVwDesktop(20);
        line-height: calculateVwDesktop(20);
        color: #9A9AAD;
        margin-bottom: calculateVwDesktop(30);
    }
    &__link {
        display: block;
        font-family: 'Mabry Pro';
        font-style: normal;
        font-weight: 400;
        font-size: calculateVwDesktop(120);
        line-height: calculateVwDesktop(120);
        color: #F7F7FA;
        margin-bottom: calculateVwDesktop(128);
        text-decoration: none;
        &:hover {
            color: #F7F7FA;
        }
    }
    &__flex--container {
        display: flex;
        align-items: center;
        &:first-child {
            width: 100%;
            justify-content: space-between;
            margin-bottom: calculateVwDesktop(128);
            .about-us__link  {
                margin-bottom: 0;
            }
        }
        &:last-child {
            .about-us__link {
                margin-bottom: 0;
            }
        }        
    }
    &__avatar {
        margin-left: calculateVwDesktop(24);
        width: calculateVwDesktop(166);
        height: calculateVwDesktop(166);
    }
    &__message {
        display: flex;
        &_wrapper {
            position: relative;
            height: 100%;
            max-width: calculateVwDesktop(395);
            border-radius: calculateVwDesktop(19);
            background: #F7F7FA;
            padding: calculateVwDesktop(19) calculateVwDesktop(35);
        }       
        &_text {
            font-family: 'Mabry Pro';
            font-style: normal;
            font-weight: 400;
            font-size: calculateVwDesktop(22);
            color: #1F2032;
            &--sm {
                margin-top: calculateVwDesktop(12);
                font-family: 'Mabry Pro';
                font-style: normal;
                font-weight: 400;
                font-size: calculateVwDesktop(14);
                color: #9A9AAD;
            }
        }
        &_triangle {
            position: absolute;
            left: calculateVwDesktop(-20);
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
            width: calculateVwDesktop(18);
            height: calculateVwDesktop(57);
        }
        &_avatar {
            margin-right: calculateVwDesktop(26);
            width: calculateVwDesktop(90);
            height: calculateVwDesktop(90);
        }
    }
}
@media (max-width: 1280px) {
    .about-us {
        &__wrapper {        
            margin: calculateVwDesktopSm(calc(60 + 79)) calculateVwDesktopSm(80) calculateVwDesktopSm(37);
        }
        &__title {
            font-size: calculateVwDesktopSm(56);
            max-width: calculateVwDesktopSm(570);
            margin-bottom: calculateVwDesktopSm(72);
        }
        &__container {
            max-width: calculateVwDesktopSm(660);
        }
        &__text {
            font-size: calculateVwDesktopSm(15);
            line-height: calculateVwDesktopSm(15);
            margin-bottom: calculateVwDesktopSm(18);
        }
        &__link {
            font-size: calculateVwDesktopSm(80);
            line-height: calculateVwDesktopSm(80);
            margin-bottom: calculateVwDesktopSm(85);
        }
        &__flex--container {
            &:first-child {
                margin-bottom: calculateVwDesktopSm(85);
            }    
        }
        &__avatar {
            margin-left: calculateVwDesktopSm(3);
            width: calculateVwDesktopSm(110);
            height: calculateVwDesktopSm(110);
        }
        &__message {
            display: none;
        }
    }
}
@media (max-width: 768px) {
    .about-us {
        &__wrapper {        
            margin: calculateVwTablet(calc(30 + 105)) calculateVwTablet(40) calculateVwTablet(80);
        }
        &__title {
            font-size: calculateVwTablet(42);
            max-width: calculateVwTablet(427);
            margin-bottom: calculateVwTablet(74);
        }
        &__container {
            max-width: calculateVwTablet(660);
            &:nth-child(2n) {
                margin: 0;
            }
        }
        &__text {
            font-size: calculateVwTablet(15);
            line-height: calculateVwTablet(15);
            margin-bottom: calculateVwTablet(13);
        }
        &__link {
            font-size: calculateVwTablet(69);
            line-height: calculateVwTablet(69);
            margin-bottom: calculateVwTablet(71);
        }
        &__flex--container {
            &:first-child {
                margin-bottom: calculateVwTablet(71);
            }    
        }
        &__avatar {
            margin-left: calculateVwTablet(-30);
            margin-top: calculateVwTablet(30);
            width: calculateVwTablet(69);
            height: calculateVwTablet(69);
        }
    }
}
@media (max-width: 360px) {
    .about-us {
        &__wrapper {        
            margin: calculateVwMobile(calc(30 + 89)) calculateVwMobile(30) calculateVwMobile(76);
        }
        &__title {
            font-size: calculateVwMobile(42);
            max-width: calculateVwMobile(427);
            margin-bottom: calculateVwMobile(50);
        }
        &__container {
            max-width: calculateVwMobile(300);
            &:nth-child(2n) {
                margin: 0;
            }
        }
        &__text {
            font-size: calculateVwMobile(14);
            line-height: calculateVwMobile(14);
            margin-bottom: calculateVwMobile(8);
        }
        &__link {
            font-size: calculateVwMobile(36);
            line-height: calculateVwMobile(36);
            margin-bottom: calculateVwMobile(34);
        }
        &__flex--container {
            &:first-child {
                margin-bottom: calculateVwMobile(34);
            }    
            &:last-child {
                max-width: calculateVwMobile(235);
            }
        }
        &__avatar {
            margin-left: calculateVwMobile(-30);
            margin-top: calculateVwMobile(20);
            width: calculateVwMobile(53);
            height: calculateVwMobile(53);
        }
    }
}