.footer {
    $root: &;
    margin-top: auto;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto calculateVwDesktop(174);
        max-width: calculateVwDesktop(1680);
    }
    &__flex--container {
        display: flex;
        align-items: center;
    }
    &__copyright {
        &_icon {
            width: calculateVwDesktop(19) !important;
            height: calculateVwDesktop(19) !important;
            margin-right: calculateVwDesktop(12);
        }
        &_text {
            font-family: 'Mabry Pro';
            font-style: normal;
            font-weight: 400;
            font-size: calculateVwDesktop(16);
            color: #9A9AAD;
            opacity: 0.9;
            margin-right: calculateVwDesktop(80);
        }
        &_link {
            font-family: 'Mabry Pro';
            font-style: normal;
            font-weight: 400;
            font-size: calculateVwDesktop(16);
            color: #F7F7FA;
            opacity: 0.9;
        }
    }
    &__socials {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: calculateVwDesktop(377);
    }
    &__social {
        &.fb {
            width: calculateVwDesktop(11);
            height: calculateVwDesktop(24);
        }
        &.vk {
            width: calculateVwDesktop(23);
            height: calculateVwDesktop(13);
        }
        &.ig {
            width: calculateVwDesktop(19);
            height: calculateVwDesktop(19);
        }
        &.tw {
            width: calculateVwDesktop(21);
            height: calculateVwDesktop(17);
        }
        &.be {
            width: calculateVwDesktop(23);
            height: calculateVwDesktop(14);
        }
    }
}
@media (max-width: 1280px) {
    .footer {
        &__wrapper {
            margin: 0 auto calculateVwDesktopSm(40);
            max-width: calculateVwDesktopSm(1120);
        }
        &__copyright {
            &_icon {
                width: calculateVwDesktopSm(19) !important;
                height: calculateVwDesktopSm(19) !important;
                margin-right: calculateVwDesktopSm(12);
            }
            &_text {
                font-size: calculateVwDesktopSm(12);
                margin-right: calculateVwDesktopSm(34);
            }
            &_link {
                font-size: calculateVwDesktopSm(12);
            }
        }
        &__socials {
            max-width: calculateVwDesktopSm(377);
        }
        &__social {
            &.fb {
                width: calculateVwDesktopSm(11);
                height: calculateVwDesktopSm(24);
            }
            &.vk {
                width: calculateVwDesktopSm(23);
                height: calculateVwDesktopSm(13);
            }
            &.ig {
                width: calculateVwDesktopSm(19);
                height: calculateVwDesktopSm(19);
            }
            &.tw {
                width: calculateVwDesktopSm(21);
                height: calculateVwDesktopSm(17);
            }
            &.be {
                width: calculateVwDesktopSm(23);
                height: calculateVwDesktopSm(14);
            }
        }
    }
}
@media (max-width: 768px) {
    .footer {
        &__wrapper {
            margin: 0 auto calculateVwTablet(40);
            max-width: calculateVwTablet(688);
        }
        &__flex--container {
            display: flex;
            flex-wrap: wrap-reverse;
            max-width: calculateVwTablet(350);
        }
        &__copyright {
            margin-top: calculateVwTablet(19);
            &_icon {
                width: calculateVwTablet(15) !important;
                height: calculateVwTablet(15) !important;
                margin-right: calculateVwTablet(8);
            }
            &_text {
                font-size: calculateVwTablet(12);
                margin-right: calculateVwTablet(34);
            }
            &_link {
                font-size: calculateVwTablet(12);
            }
        }
        &__socials {
            max-width: calculateVwTablet(247);
        }
        &__social {
            &.fb {
                width: calculateVwTablet(9);
                height: calculateVwTablet(18);
            }
            &.vk {
                width: calculateVwTablet(18);
                height: calculateVwTablet(10);
            }
            &.ig {
                width: calculateVwTablet(15);
                height: calculateVwTablet(15);
            }
            &.tw {
                width: calculateVwTablet(16);
                height: calculateVwTablet(13);
            }
            &.be {
                width: calculateVwTablet(18);
                height: calculateVwTablet(11);
            }
        }
    }
}
@media (max-width: 360px) {
    .footer {
        &__wrapper {
            margin: 0 auto calculateVwMobile(24);
            max-width: calculateVwMobile(260);
            flex-wrap: wrap-reverse;
        }
        &__flex--container {
            display: flex;
            flex-wrap: wrap-reverse;
            max-width: 100%;
        }
        &__copyright {
            margin-top: calculateVwMobile(19);
            &_icon {
                width: calculateVwMobile(15) !important;
                height: calculateVwMobile(15) !important;
                margin-right: calculateVwMobile(8);
            }
            &_text {
                font-size: calculateVwMobile(12);
                margin-right: 0;
            }
            &_link {
                font-size: calculateVwMobile(12);
            }
        }
        &__socials {
            max-width: 100%;
            margin-bottom: calculateVwMobile(80);
        }
        &__social {
            &.fb {
                width: calculateVwMobile(9);
                height: calculateVwMobile(18);
            }
            &.vk {
                width: calculateVwMobile(18);
                height: calculateVwMobile(10);
            }
            &.ig {
                width: calculateVwMobile(15);
                height: calculateVwMobile(15);
            }
            &.tw {
                width: calculateVwMobile(16);
                height: calculateVwMobile(13);
            }
            &.be {
                width: calculateVwMobile(18);
                height: calculateVwMobile(11);
            }
        }
    }
}