.header {
    $root: &;

    position: fixed;
    z-index: $header-z-index;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-bg;
    height: map-get($header-height, sm);

    @each $key in (md, lg, xl) {
        @include up($key) {
            height: map-get($header-height, $key);
        }
    }

    &__inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: calculateVwDesktop(16) calculateVwDesktop(40);
        background: $color-bg;
    }
    &__logo {
        margin-right: calculateVwDesktop(33);
        svg {
            width: calculateVwDesktop(141) !important;
            fill: $color-light;
        }
    }
    &__actions,
    &__tags,
    &__menu  {
        display: flex;
        align-items: center;
    }
    &__actions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__tags {
        &_item {
            margin-right: calculateVwDesktop(8);
            padding: calculateVwDesktop(9) calculateVwDesktop(18);
            background: $color-white;
            border-radius: calculateVwDesktop(42);
            &:last-child {
                margin-right: 0;
            }           
            &:hover {
                cursor: pointer;
                .header__tags_link {
                    color: $color-secondary; 
                }
            }
        }
        &_link {
            font-family: 'Mabry Pro';
            font-style: normal;
            font-weight: 400;
            font-size: calculateVwDesktop(20);
            color: #1F2032;
            text-decoration: none;  
            transition: .4s;
            text-align: center;
            vertical-align: middle;
            &:hover {
                transition: .4s;
                color: $color-secondary;              
            }          
        }
    }
    &__menu {
        &_item {
            margin-right: calculateVwDesktop(40);
            &:last-child {
                margin-right: 0;
            }  
            &:hover {
                cursor: pointer;
                .header__menu_link {
                    opacity: .7;
                }
            }
        }
        &_link {
            font-family: 'Mabry Pro';
            font-style: normal;
            font-weight: 400;
            font-size: calculateVwDesktop(17);  
            color: $color-light;
            white-space: nowrap;
            text-decoration: none;
            transition: .4s;
            vertical-align: middle;
            &:hover {
                transition: .4s;
                color: $color-light;
                opacity: .7;                
            }
        }
    }
    &__btn {
        background: $color-secondary;
        border-radius: calculateVwDesktop(12);
        padding: calculateVwDesktop(20) calculateVwDesktop(26);

        font-family: 'Mabry Pro';
        font-style: normal;
        font-weight: 400;
        font-size: calculateVwDesktop(19);
        color: $color-light;
        white-space: nowrap;

        margin-left: calculateVwDesktop(55);
        transition: .4s;
        &:hover {
            transition: .4s;
            background: #2926d8;
        }
        &--menu {
            display: none;
        }
    }
    &__burger--menu {
        display: none;
    }
}
@media (min-width: 1920px) {
    .header {
        &__inner {
            max-width: 1920px;
            padding: 27px 40px;
            margin: 0 auto;
        }
    }
}
@media (max-width: 1920px) {
    .header {
        &__inner {
            max-width: 100%;
            padding: 27px 40px;
        }
    }
}
@media (max-width: 1280px) {
    .header {
        &__inner {
            padding: calculateVwDesktopSm(16) calculateVwDesktopSm(40);
        }
        &__logo {
            margin-right: calculateVwDesktopSm(20);
            svg {
                width: calculateVwDesktopSm(100) !important;
            }
        }
        &__tags {
            &_item {
                margin-right: calculateVwDesktopSm(4);
                padding: calculateVwDesktopSm(5) calculateVwDesktopSm(14);
                border-radius: calculateVwDesktopSm(42);
            }
            &_link {
                font-size: calculateVwDesktopSm(15);   
            }
        }
        &__menu {
            &_item {
                margin-right: calculateVwDesktopSm(26);
            }
            &_link {
                font-size: calculateVwDesktopSm(14); 
            }
        }
        &__btn {
            border-radius: calculateVwDesktopSm(8);
            padding: calculateVwDesktopSm(15) calculateVwDesktopSm(21);
            font-size: calculateVwDesktopSm(14);
            margin-left: calculateVwDesktopSm(47);
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__inner {
            padding: calculateVwTablet(29) calculateVwTablet(40);
        }
        &__logo {
            margin-right: calculateVwTablet(64);
            svg {
                width: calculateVwTablet(116) !important;
            }
        }
        &__tags {
            display: none;
        }
        &__menu {
            &_item {
                margin-right: calculateVwTablet(26);
            }
            &_link {
                font-size: calculateVwTablet(14); 
            }
        }
        &__btn {
            border-radius: calculateVwTablet(8);
            padding: calculateVwTablet(15) calculateVwTablet(21);
            font-size: calculateVwTablet(14);
            margin-left: calculateVwTablet(47);

            &--menu {
                display: block;
                width: calculateVwTablet(23);
                height: calculateVwTablet(10);
                margin-left: calculateVwTablet(25);
                position: relative;
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '';
                    width: calculateVwTablet(23);
                    height: calculateVwTablet(2);
                    background: $color-light;
                }
                &:after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: '';
                    width: calculateVwTablet(23);
                    height: calculateVwTablet(2);
                    background: $color-light;
                }
            }
        }
        &__burger--menu {
            animation: 2s close ease;
            &.active {
                display: flex;
                flex-direction: column;    
                height: 100%;
                animation: 2s show ease;
            }            
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            padding: calculateVwTablet(33) calculateVwTablet(40);
            .burger--menu {   
                &__wrapper {
                    flex: 1 0 auto;
                }    
                &__header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                }
                &__logo {
                    svg {
                        height: calculateVwTablet(29) !important;
                        width: calculateVwTablet(121) !important;
                    }
                }
                &__close {
                    position: relative;
                    &:before {
                        position: absolute;
                        top: calc(50%);
                        transform: translateY(-50%);
                        right: 0;
                        content: '';
                        width: calculateVwTablet(28);
                        height: calculateVwTablet(1.86);
                        background: #1F2032;
                        transform: rotate(45deg);
                    }
                    &:after {
                        position: absolute;
                        top: calc(50%);
                        transform: translateY(-50%);
                        right: 0;
                        content: '';
                        width: calculateVwTablet(28);
                        height: calculateVwTablet(1.86);
                        background: #1F2032;
                        transform: rotate(-45deg);
                    }
                }
                &__btn, 
                &__menu_link {
                    font-family: 'Mabry Pro';
                    font-style: normal;
                    font-weight: 400;
                    font-size: calculateVwTablet(44);
                    text-align: center;
                    vertical-align: middle;
                    color: #15141A;
                    text-decoration: none;
                }
                &__btn {
                    display: block;
                    margin-top: calculateVwTablet(69);
                    margin-bottom: calculateVwTablet(37);
                    position: relative;
                    padding-right: calculateVwTablet(22);
                    &:before {
                        position: absolute;
                        top: calc(50% - calculateVwTablet(2));
                        transform: translateY(-50%);
                        right: 0;
                        content: '';
                        width: calculateVwTablet(8);
                        height: calculateVwTablet(2);
                        background: #1F2032;
                        transform: rotate(45deg);
                    }
                    &:after {
                        position: absolute;
                        top: calc(50% + calculateVwTablet(2));
                        transform: translateY(-50%);
                        right: 0;
                        content: '';
                        width: calculateVwTablet(8);
                        height: calculateVwTablet(2);
                        background: #1F2032;
                        transform: rotate(-45deg);
                    }
                }
                &__menu {
                    &_item {
                        margin-bottom: calculateVwTablet(36);
                    }
                }
                &__footer {
                    flex: 0 0 auto;
                    &_wrapper {
                        display: flex;
                    }
                    &_contacts {
                        margin-right: calculateVwTablet(77);
                    }
                    &_item {
                        padding-top: calculateVwTablet(20);
                        font-family: 'Mabry Pro';
                        font-style: normal;
                        font-weight: 400;
                        font-size: calculateVwTablet(13);
                        line-height: calculateVwTablet(15);
                        color: #9A9AAD;
                        &:first-child {
                            padding-top: 0;
                        }
                    }
                    &_link {
                        font-family: 'Mabry Pro';
                        font-style: normal;
                        font-weight: 400;
                        font-size: calculateVwTablet(15);
                        color: #15141A;
                        text-decoration: none;
                    }
                }
            }
        }        
    }
}
@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes close {
    from { opacity: 1; }
    to { opacity: 0; }
}

@media (max-width: 360px) {
    .header {
        &__inner {
            padding: calculateVwMobile(25) calculateVwMobile(30);
        }
        &__logo {
            svg {
                width: calculateVwMobile(121) !important;
            }
        }
        &__actions {
            display: none;
        }
        &__btn {
            display: none;
            &--menu {
                width: calculateVwMobile(23);
                height: calculateVwMobile(10);
                margin-left: 0;
                &:before {
                    width: calculateVwMobile(23);
                    height: calculateVwMobile(2);
                }
                &:after {
                    width: calculateVwMobile(23);
                    height: calculateVwMobile(2);
                }
            }
        }
        &__burger--menu {
            padding: calculateVwMobile(25) calculateVwMobile(30);
            .burger--menu {   
                &__logo {
                    svg {
                        height: calculateVwMobile(29) !important;
                        width: calculateVwMobile(121) !important;
                    }
                }
                &__close {
                    &:before {
                        width: calculateVwMobile(28);
                        height: calculateVwMobile(1.86);
                    }
                    &:after {
                        width: calculateVwMobile(28);
                        height: calculateVwMobile(1.86);
                    }
                }
                &__btn, 
                &__menu_link {
                    font-size: calculateVwMobile(38);
                }
                &__btn {
                    margin-top: calculateVwMobile(52);
                    margin-bottom: calculateVwMobile(36);
                    padding-right: calculateVwMobile(22);
                    &:before {
                        top: calc(50% - calculateVwMobile(2));
                        width: calculateVwMobile(8);
                        height: calculateVwMobile(2);
                    }
                    &:after {
                        top: calc(50% + calculateVwMobile(2));
                        width: calculateVwMobile(8);
                        height: calculateVwMobile(2);
                    }
                }
                &__menu {
                    &_item {
                        margin-bottom: calculateVwMobile(36);
                    }
                }
                &__footer {
                    &_contacts {
                        margin-right: calculateVwMobile(77);
                    }
                    &_item {
                        padding-top: calculateVwMobile(20);
                        font-size: calculateVwMobile(13);
                        line-height: calculateVwMobile(15);
                    }
                    &_link {
                        font-size: calculateVwMobile(15);
                    }
                }
            }
        } 
    }
}