.our-office {
    position: relative;
    padding-bottom: calculateVwDesktop(290);
    &__grid {
        display: grid;
        grid-template-rows: calculateVwDesktop(177) calculateVwDesktop(293) calculateVwDesktop(430) calculateVwDesktop(203) calculateVwDesktop(497);
        grid-template-columns: calculateVwDesktop(214) calculateVwDesktop(269) calculateVwDesktop(223) calculateVwDesktop(253) calculateVwDesktop(452);
        
        width: calc(calculateVwDesktop(214) + calculateVwDesktop(269) + calculateVwDesktop(223) + calculateVwDesktop(253) + calculateVwDesktop(452));
        height: calc(calculateVwDesktop(177) + calculateVwDesktop(293) + calculateVwDesktop(430) + calculateVwDesktop(203) + calculateVwDesktop(497));
        margin: 0 auto;
        &_card {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:first-child {
                grid-column: 4 / 6;
                grid-row: 1 / 3;
                .our-office__grid_card--content {
                    top: calculateVwDesktop(386);
                    left: calculateVwDesktop(362);
                }
            }
            &:nth-child(2) {
                grid-column: 1 / 3;
                grid-row: 2 / 4;
                .our-office__grid_card--content {
                    top: calculateVwDesktop(555);
                    left: calculateVwDesktop(395);
                }
            }
            &:last-child {
                grid-column: 2 / 5;
                grid-row: 5 / 6;
                .our-office__grid_card--content {
                    top: calculateVwDesktop(50);
                    left: calculateVwDesktop(662);
                }
            }
            &--title,
            &--text,
            &--link {
                font-family: 'Mabry Pro';
                font-style: normal;
                font-weight: 400;
                color: #F7F7FA;
                white-space: nowrap;
            }
            &--title {
                font-size: calculateVwDesktop(46);
                line-height: calculateVwDesktop(46);
            }
            &--text {
                margin-top: calculateVwDesktop(26);
            }
            &--text,
            &--link {
                display: block; 
                font-size: calculateVwDesktop(26);
                line-height: calculateVwDesktop(26);
                text-decoration: none;
                margin-top: calculateVwDesktop(24);
                &:hover {
                    color: #F7F7FA;
                }
                &.sm {
                    font-size: calculateVwDesktop(20);   
                    line-height: calculateVwDesktop(20);
                    margin-top: calculateVwDesktop(32);
                }
            }
            &--content {
                position: absolute;
            }
        }
    }
    &__background {
        position: absolute;
        top: calculateVwDesktop(-238);
        left: 0;
        height: calculateVwDesktop(1353);
        width: 100%;
        background: linear-gradient(180deg, #312DFF 0%, rgba(49, 45, 255, 0.991353) 6.67%, rgba(49, 45, 255, 0.96449) 13.33%, rgba(49, 45, 255, 0.91834) 20%, rgba(49, 45, 255, 0.852589) 26.67%, rgba(49, 45, 255, 0.768225) 33.33%, rgba(49, 45, 255, 0.668116) 40%, rgba(49, 45, 255, 0.557309) 46.67%, rgba(49, 45, 255, 0.442691) 53.33%, rgba(49, 45, 255, 0.331884) 60%, rgba(49, 45, 255, 0.231775) 66.67%, rgba(49, 45, 255, 0.147411) 73.33%, rgba(49, 45, 255, 0.0816599) 80%, rgba(49, 45, 255, 0.03551) 86.67%, rgba(49, 45, 255, 0.0086472) 93.33%, rgba(49, 45, 255, 0) 100%);
        z-index: -1;
        transform: matrix(1, 0, 0, -1, 0, 0);
        &--bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            background: #312DFF;
            height: calculateVwDesktop(776);
            width: 100%;
            z-index: -1;
        }
    }
}
@media (max-width: 1280px) {
    .our-office {
        padding-bottom: calculateVwDesktop(131);
        &__grid {
            grid-template-rows: calculateVwDesktopSm(129) calculateVwDesktopSm(214) calculateVwDesktopSm(314) calculateVwDesktopSm(148) calculateVwDesktopSm(362);
            grid-template-columns: calculateVwDesktopSm(117) calculateVwDesktopSm(235) calculateVwDesktopSm(154) calculateVwDesktopSm(155) calculateVwDesktopSm(359);
            
            height: calc(calculateVwDesktopSm(129) + calculateVwDesktopSm(214) + calculateVwDesktopSm(314) + calculateVwDesktopSm(148) + calculateVwDesktopSm(362));
            width: calc(calculateVwDesktopSm(117) + calculateVwDesktopSm(235) + calculateVwDesktopSm(154) + calculateVwDesktopSm(155) + calculateVwDesktopSm(359));
            &_card {
                &:first-child {
                    .our-office__grid_card--content {
                        top: calculateVwDesktopSm(282);
                        left: calculateVwDesktopSm(230);
                    }
                }
                &:nth-child(2) {
                    .our-office__grid_card--content {
                        top: calculateVwDesktopSm(405);
                        left: calculateVwDesktopSm(228);
                    }
                }
                &:last-child {
                    .our-office__grid_card--content {
                        top: calculateVwDesktopSm(36);
                        left: calculateVwDesktopSm(483);
                    }
                }
                &--title {
                    font-size: calculateVwDesktopSm(33);
                    line-height: calculateVwDesktopSm(33);
                }
                &--text {
                    margin-top: calculateVwDesktopSm(19);
                }
                &--text,
                &--link {
                    font-size: calculateVwDesktopSm(19);
                    line-height: calculateVwDesktopSm(19);
                    margin-top: calculateVwDesktopSm(18);
                    &.sm {
                        font-size: calculateVwDesktopSm(15);   
                        line-height: calculateVwDesktopSm(15);
                        margin-top: calculateVwDesktopSm(24);
                    }
                }
            }
        }
        &__background {
            top: calculateVwDesktopSm(-117);
            height: calculateVwDesktopSm(902);
            &--bottom {
                height: calculateVwDesktopSm(513);
            }
        }
    }
}
@media (max-width: 768px) {
    .our-office {
        padding-bottom: calculateVwTablet(89);
        &__grid {
            grid-template-rows: calculateVwTablet(68) calculateVwTablet(165) calculateVwTablet(210) calculateVwTablet(162) calculateVwTablet(233);
            grid-template-columns: calculateVwTablet(71) calculateVwTablet(179) calculateVwTablet(88) calculateVwTablet(83) calculateVwTablet(267);
            
            height: calc(calculateVwTablet(68) + calculateVwTablet(165) + calculateVwTablet(210) + calculateVwTablet(162) + calculateVwTablet(233));
            width: calc(calculateVwTablet(71) + calculateVwTablet(179) + calculateVwTablet(88) + calculateVwTablet(83) + calculateVwTablet(267));
            &_card {
                &:first-child {
                    .our-office__grid_card--content {
                        top: calculateVwTablet(221);
                        left: calculateVwTablet(40);
                    }
                }
                &:nth-child(2) {
                    .our-office__grid_card--content {
                        top: calculateVwTablet(316);
                        left: calculateVwTablet(49);
                    }
                }
                &:last-child {
                    .our-office__grid_card--content {
                        top: -calculateVwTablet(139);
                        left: calculateVwTablet(336);
                    }
                }
                &--title {
                    font-size: calculateVwTablet(28);
                    line-height: calculateVwTablet(28);
                }
                &--text {
                    margin-top: calculateVwTablet(16);
                }
                &--text,
                &--link {
                    font-size: calculateVwTablet(16);
                    line-height: calculateVwTablet(16);
                    margin-top: calculateVwTablet(15);
                    &.sm {
                        font-size: calculateVwTablet(13);   
                        line-height: calculateVwTablet(13);
                        margin-top: calculateVwTablet(20);
                    }
                }
            }
        }
        &__background {
            top: calculateVwTablet(-111);
            height: calculateVwTablet(815);
            &--bottom {
                height: calculateVwTablet(223);
            }
        }
    }
}
@media (max-width: 360px) {
    .our-office {
        padding-bottom: calculateVwMobile(89);
        &__grid {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(3,1fr);
            grid-template-areas:
            "first-office"
            "second-office"
            "third-office";
            gap: calculateVwMobile(48);
            width: calculateVwMobile(300);
            height: auto;
            padding-bottom: calculateVwMobile(30);
            &_card {
                img {
                    object-fit: cover;
                    object-position: top;
                    border-radius: calculateVwMobile(20);
                    height: calculateVwMobile(199);
                }
                &:first-child {
                    grid-area: first-office;
                }
                &:nth-child(2) {
                    grid-area: second-office;
                }
                &:last-child {
                    grid-area: third-office;
                }
                &--title {
                    font-size: calculateVwMobile(28);
                    line-height: calculateVwMobile(28);
                }
                &--text {
                    margin-top: calculateVwMobile(16);
                }
                &--text,
                &--link {
                    font-size: calculateVwMobile(16);
                    line-height: calculateVwMobile(16);
                    margin-top: calculateVwMobile(15);
                    &.sm {
                        font-size: calculateVwMobile(13);   
                        line-height: calculateVwMobile(13);
                        margin-top: calculateVwMobile(20);
                    }
                }
                &--content {
                    position: inherit;
                    top: 0 !important;
                    left: 0 !important;
                    margin-top: calculateVwMobile(18);
                }
            }
        }
        &__background {
            top: calculateVwMobile(155);
            height: calculateVwMobile(764);
            &--bottom {
                height: calculateVwMobile(325);
            }
        }
    }
}