.our-clients {
    &__title {
        font-family: 'Mabry Pro';
        font-style: normal;
        font-weight: 400;
        font-size: calculateVwDesktop(85);
        color: #F7F7FA; 
        margin-top: calculateVwDesktop(91);
        margin-left: calculateVwDesktop(102);       
    }
    &__message {
        position: absolute;
        left: calculateVwDesktop(60);
        bottom: calculateVwDesktop(25);
        display: flex;
        &_wrapper {
            position: relative;
            height: 100%;
            max-width: calculateVwDesktop(308);
            border-radius: calculateVwDesktop(19);
            background: #F7F7FA;
            padding: calculateVwDesktop(18) calculateVwDesktop(23);
        }       
        &_text {
            font-family: 'Mabry Pro';
            font-style: normal;
            font-weight: 400;
            font-size: calculateVwDesktop(22);
            color: #1F2032;
        }
        &_triangle {
            position: absolute;
            left: calculateVwDesktop(-19);
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
            width: calculateVwDesktop(18);
            height: calculateVwDesktop(57);
        }
        &_avatar {
            margin-right: calculateVwDesktop(7);
            width: calculateVwDesktop(84);
            height: calculateVwDesktop(84);
            z-index: -1;
        }
    }
}
.swiper {
    width: calc(100% - calculateVwDesktop(102));
    height: calculateVwDesktop(708);
    margin-top: calculateVwDesktop(182);
    margin-left: calculateVwDesktop(102) !important;
    &-button-next,
    &-button-prev {
        background: #312DFF;
        border-radius: 50%;
        width: calculateVwDesktop(92) !important;
        height: calculateVwDesktop(92) !important;
        svg {
            width: calculateVwDesktop(22);
            height: calculateVwDesktop(16);
        }
        &::after {
            display: none;
        }
    }
    &-button-next {
        top: calculateVwDesktop(616) !important;
        right: calculateVwDesktop(79) !important;
    }
    &-button-prev {
        top: calculateVwDesktop(616) !important;
        right: calculateVwDesktop(226) !important;
        left: auto !important;
    }
  }

.swiper-slide {
    text-align: center;
    font-size: calculateVwDesktop(18);
    width: calculateVwDesktop(360);
}

.swiper-slide {
    display: block;
    width: 100%;
    height: 100%;

    &__company {
        max-width: calculateVwDesktop(360) !important;
        height: calculateVwDesktop(134);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        svg {
            width: 100% !important;
        }
        &:first-child {
            margin-bottom: calculateVwDesktop(155);
        }
        &--text {
            font-family: 'Mabry Pro';
            font-style: normal;
            font-weight: 400;
            font-size: calculateVwDesktop(20);
            color: #9A9AAD;
            margin-top: calculateVwDesktop(22);
        }
    }
}
@media (max-width: 1280px) {
    .our-clients {
        &__title {
            font-size: calculateVwDesktopSm(56);
            margin-top: calculateVwDesktopSm(56);
            margin-left: calculateVwDesktopSm(80);       
        }
        &__message {
            left: calculateVwDesktopSm(40);
            bottom: calculateVwDesktopSm(25);
            &_wrapper {
                max-width: calculateVwDesktopSm(233);
                border-radius: calculateVwDesktopSm(19);
                padding: calculateVwDesktopSm(18) calculateVwDesktopSm(23);
            }       
            &_text {
                font-size: calculateVwDesktopSm(16);
            }
            &_triangle {
                left: calculateVwDesktopSm(-15);
                width: calculateVwDesktopSm(18);
                height: calculateVwDesktopSm(57);
            }
            &_avatar {
                margin-right: calculateVwDesktopSm(7);
                width: calculateVwDesktopSm(84);
                height: calculateVwDesktopSm(84);
            }
        }
    }
    .swiper {
        width: calc(100% - calculateVwDesktopSm(102));
        height: calculateVwDesktopSm(559);
        margin-top: calculateVwDesktopSm(61);
        margin-left: calculateVwDesktopSm(80) !important;
        &-button-next,
        &-button-prev {
            width: calculateVwDesktopSm(92) !important;
            height: calculateVwDesktopSm(92) !important;
            svg {
                width: calculateVwDesktopSm(22);
                height: calculateVwDesktopSm(16);
            }
        }
        &-button-next {
            top: calculateVwDesktopSm(460) !important;
            right: calculateVwDesktopSm(54) !important;
        }
        &-button-prev {
            top: calculateVwDesktopSm(460) !important;
            right: calculateVwDesktopSm(194) !important;
        }
      }
    
      .swiper-slide {
        font-size: calculateVwDesktopSm(18);
        width: calculateVwDesktopSm(220);
      }
    
      .swiper-slide {
        &__company {
            max-width: calculateVwDesktopSm(350) !important;
            height: calculateVwDesktopSm(100);
            &:first-child {
                margin-bottom: calculateVwDesktopSm(155);
            }
            &--text {
                font-size: calculateVwDesktopSm(20);
                margin-top: calculateVwDesktopSm(22);
            }
        }
    }
}
@media (max-width: 768px) {
    .our-clients {
        &__title {
            font-size: calculateVwTablet(42);
            margin-top: calculateVwTablet(88);
            margin-left: calculateVwTablet(34);       
        }
        &__message {
            left: calculateVwTablet(34);
            bottom: calculateVwTablet(75);
            &_wrapper {
                max-width: calculateVwTablet(233);
                border-radius: calculateVwTablet(19);
                padding: calculateVwTablet(18) calculateVwTablet(23);
            }       
            &_text {
                font-size: calculateVwTablet(16);
            }
            &_triangle {
                left: calculateVwTablet(-15);
                width: calculateVwTablet(18);
                height: calculateVwTablet(57);
            }
            &_avatar {
                margin-right: calculateVwTablet(7);
                width: calculateVwTablet(66);
                height: calculateVwTablet(66);
            }
        }
    }
    .swiper {
        width: calc(100% - calculateVwTablet(30));
        height: calculateVwTablet(550);
        margin-left: calculateVwTablet(34) !important;
        &-button-next,
        &-button-prev {
            display: none !important;
        }
      }
    
      .swiper-slide {
        font-size: calculateVwTablet(18);
        width: calculateVwTablet(220);
      }
    
      .swiper-slide {
        &__company {
            height: calculateVwTablet(100);
            max-width: calculateVwTablet(220) !important;
            svg {
                width: 100%;
                height: 100%;
            }
            &:first-child {
                margin-bottom: calculateVwTablet(73);
            }
            &--text {
                font-size: calculateVwTablet(20);
                margin-top: calculateVwTablet(22);
            }
        }
    }
}
@media (max-width: 360px) {
    .our-clients {
        &__title {
            font-size: calculateVwMobile(42);
            margin-top: calculateVwMobile(54);
            margin-left: calculateVwMobile(30);       
        }
        &__message {
            left: calculateVwMobile(30);
            bottom: calculateVwMobile(25);
            &_wrapper {
                max-width: calculateVwMobile(233);
                border-radius: calculateVwMobile(19);
                padding: calculateVwMobile(18) calculateVwMobile(23);
            }       
            &_text {
                font-size: calculateVwMobile(16);
            }
            &_triangle {
                left: calculateVwMobile(-15);
                width: calculateVwMobile(18);
                height: calculateVwMobile(57);
            }
            &_avatar {
                margin-right: calculateVwMobile(7);
                width: calculateVwMobile(66);
                height: calculateVwMobile(66);
            }
        }
    }
    .swiper {
        width: calc(100% - calculateVwMobile(30));
        height: calculateVwMobile(420);
        margin-left: calculateVwMobile(30) !important;
        &-button-next,
        &-button-prev {
            display: none !important;
        }
    }
    
    .swiper-slide {
        font-size: calculateVwMobile(14);
        width: calculateVwMobile(160);
    }
    
    .swiper-slide {
        &__company {
            height: calculateVwMobile(100);
            max-width: calculateVwMobile(160) !important;
            svg {
                width: 100%;
                height: 100%;
            }
            &:first-child {
                margin-bottom: calculateVwMobile(38);
            }
            &--text {
                font-size: calculateVwMobile(16);
                margin-top: calculateVwMobile(20);
            }
        }
    }
}