.svgsprite {
    display:inline-block;
    width:1em;
    height:1em;
    fill:currentColor;
    vertical-align:middle;

    &._arrow-left {
    	font-size:(math.div(18,10))*1rem;
    	width:(math.div(24,18))*1em;
    }
    &._arrow-right {
    	font-size:(math.div(18,10))*1rem;
    	width:(math.div(24,18))*1em;
    }
    &._arrowTop {
    	font-size:(math.div(10,10))*1rem;
    	width:(math.div(10,10))*1em;
    }
    &._arrowTop-2 {
    	font-size:(math.div(7,10))*1rem;
    	width:(math.div(6,7))*1em;
    }
    &._attach {
    	font-size:(math.div(29,10))*1rem;
    	width:(math.div(28,29))*1em;
    }
    &._be {
    	font-size:(math.div(15,10))*1rem;
    	width:(math.div(24,15))*1em;
    }
    &._company-1 {
    	font-size:(math.div(78,10))*1rem;
    	width:(math.div(305,78))*1em;
    }
    &._company-2 {
    	font-size:(math.div(121,10))*1rem;
    	width:(math.div(251,121))*1em;
    }
    &._company-3 {
    	font-size:(math.div(103,10))*1rem;
    	width:(math.div(295,103))*1em;
    }
    &._company-4 {
    	font-size:(math.div(76,10))*1rem;
    	width:(math.div(279,76))*1em;
    }
    &._company-5 {
    	font-size:(math.div(83,10))*1rem;
    	width:(math.div(271,83))*1em;
    }
    &._company-6 {
    	font-size:(math.div(84,10))*1rem;
    	width:(math.div(288,84))*1em;
    }
    &._company-7 {
    	font-size:(math.div(70,10))*1rem;
    	width:(math.div(183,70))*1em;
    }
    &._company-8 {
    	font-size:(math.div(90,10))*1rem;
    	width:(math.div(257,90))*1em;
    }
    &._companyLogo {
    	font-size:(math.div(91,10))*1rem;
    	width:(math.div(90,91))*1em;
    }
    &._fb {
    	font-size:(math.div(24,10))*1rem;
    	width:(math.div(11,24))*1em;
    }
    &._ig {
    	font-size:(math.div(19,10))*1rem;
    	width:(math.div(20,19))*1em;
    }
    &._logo {
    	font-size:(math.div(24,10))*1rem;
    	width:(math.div(142,24))*1em;
    }
    &._logoSmall {
    	font-size:(math.div(19,10))*1rem;
    	width:(math.div(19,19))*1em;
    }
    &._openLink {
    	font-size:(math.div(15,10))*1rem;
    	width:(math.div(14,15))*1em;
    }
    &._track {
    	font-size:(math.div(57,10))*1rem;
    	width:(math.div(86,57))*1em;
    }
    &._triangle {
    	font-size:(math.div(57,10))*1rem;
    	width:(math.div(16,57))*1em;
    }
    &._tw {
    	font-size:(math.div(18,10))*1rem;
    	width:(math.div(22,18))*1em;
    }
    &._vk {
    	font-size:(math.div(13,10))*1rem;
    	width:(math.div(24,13))*1em;
    }
    &._wikipedia {
    	font-size:(math.div(94,10))*1rem;
    	width:(math.div(103,94))*1em;
    }
}
