@function calculateVwDesktop($size) {
    $vwSize: calc($size * 100 / 1920);
    @return #{$vwSize}vw;
}  
@function calculateVwDesktopSm($size) {
    $vwSize: calc($size * 100 / 1280);
    @return #{$vwSize}vw;
}  
@function calculateVwTablet($size) {
    $vwSize: calc($size * 100 / 768);
    @return #{$vwSize}vw;
}  
@function calculateVwMobile($size) {
    $vwSize: calc($size * 100 / 360);
    @return #{$vwSize}vw;
}  