/* Main Colors */
$color-base: #171717;
$color-white: #fff;
$color-gray: #ccc;
$color-primary: #E20210;
$color-secondary: #312DFF;
$color-light: #F7F7FA;

$color-bg: #1F2032;
$color-text: $color-base;
$color-error: $color-primary;
$color-popup-background: $color-white;

$color-overlay: $color-base;
$opacity-overlay: .4;

$link-color: $color-text;
$link-hover-color: $color-primary;

$transition-duration: .2s;
$transition-timing-function: ease-in-out;

$header-z-index: 1000;
$header-height: (sm: 2rem,
    md: 3rem,
    lg: 4rem,
    xl: 5rem,
);
// $header-height-fixed: ;

/* Fonts */
$font-family: 'Fira Sans',
sans-serif;
$font-family-alt: serif;
$font-family-icon: "iconfont";
$font-family-fontello: "fontello";
$font-size: 1rem;
$font-weight: normal;
$letter-spacing: normal;
$line-height: 1.2;

/* Screen sizes */
$grid-breakpoints: (sm: 360px,
    md: 768px,
    lg: 1280px,
    xl: 1920px);
$container-max-widths: (sm: 100%,
    md: 100%,
    lg: 1170px,
    xl: 1170px);
$container-paddings: (sm: 25px,
    md: 50px,
    lg: 0,
    xl: 0);

/* block margins */
$block-margins: (sm: 1rem,
    md: 2rem,
    lg: 3rem,
    xl: 4rem,
);
